POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=parcial_prog_4
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=super-secret-key-cambiar-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
MP_NGROK_URL=
FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=